<% layout("/layouts/boilerplate")%>

<style>
  #filters{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
  }
  .filter{
    text-align: center;
    margin-right: 2rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    opacity: 0.55;
  }
  .filter:hover{
    font-size: 1.3rem;
    opacity: 1;
    cursor: pointer;
    transition: opacity font-size 0.3s ease-in-out;
  }

  .filter p {
    font-size: 0.8rem;
  }
  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid black;
    border-radius: 32px;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

  }
</style>

<body>
 
<div id="filters">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>
   
    <div class="filter">
      <div><i class="fa-solid fa-umbrella-beach"></i></div>
      <p>Beach</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Cities</p>
    </div>
   
    <div class="filter">
      <div><i class="fa-solid fa-mountain-sun"></i></div>
      <p>Mountains</p>
    </div>
    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
   
    <div class="filter">
      <div><i class="fa-solid fa-gopuram fa-lg"></i></div>
      <p>Iconic Cities</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Pools</p>
    </div>
   
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-tractor"></i></div>
      <p>Farms</p>
    </div>
   
    <div class="filter">
      <div><i class="fa-solid fa-hotel"></i></div>
      <p>Resort</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-snowflake"></i></div>
      <p>Arctic Snow</p>
    </div>

    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display Taxes</label>
      </div>
    </div>

</div>
   
  <div class="row mt-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListings) { %>
      <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card col listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height:20rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b><br>
            &#8377; 
            <% if (listing.price) { %>
              <%= listing.price.toLocaleString("en-IN") %>
              <i class="tax-info">&nbsp; &nbsp; +18% GST</i>
            <% } else { %>
              Price not available
            <% } %>
            / night
          </p>
        </div>
      </div>
      </a>
    <% } %>
  </div>
</body>


<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener('click', function() {
    let taxInfo = document.getElementsByClassName("tax-info");
    for(info of taxInfo){
      if(info.style.display !="inline"){
        info.style.display ="inline";
      }else{
        info.style.display ="none";
      }
    };

  });
</script>