body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
flex: 1;
}

.navbar{
    height: 5rem;
    background-color: aliceblue;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    font-weight: 600 !important;
    color: #222 !important ;

}

/* footer */

.f-info-links a{
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover{
    text-decoration: underline;
    color: #222;
}

.f-info-links,.f-info-socials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.fa-brands{
    
    font-size: 1.5rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    align-items: space-evenly;
    justify-content: center;
    padding: 2rem;
    background-color:aliceblue;
    flex-wrap: wrap;
    height: 8rem;
}

/* cards */

.listing-card{
    border:none !important;
    margin-bottom: 2rem;

}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-links{
    text-decoration: none !important;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: whitesmoke;
}
/* newpage css */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
    height: 3rem;
    width: 8rem;
    font-size: 1.4rem !important;
}

.btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
   
}

/* show page */
.show-img{
    height: 35vh;
    width: 52vw !important;
}

.btns{
    display: flex;
    justify-content: space-between;
    width: 52vw !important;
    margin:2rem auto 5rem auto;
    align-items: center;
    flex-direction: row;
    /* background-color:aqua; */
}

.show-card{
    padding-left: 0;
    padding-right: 0;

}

/* maps */
#map {
    height: 400px;
    width: 100vh;

}













